<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <nav th:replace="/fragments/nav :: nav"></nav>
        <br>
            <br>
                <br>    

<!--                    <div class="carousel-inner" >
                                    <div class="carousel-item active" >
                                        <img alt="First slide" class="d-block w-100" th:src="${'/foto/casa/' + casa.id}" style="margin-top: 150px; max-width: 400px;max-height: 500px;margin-left: 750px; border-radius: 100%" >
                                            <div class="carousel-caption d-none d-md-block">
                                                <div class="col-lg-6 order-lg-2">
                                                   
                                                    <div class="p-5">
                                                        <img th:if="${casa.foto != null}" class="img-fluid rounded-circle" th:src="${'/foto/casa/' + casa.id}" alt="">
                                                            <img th:if="${casa.foto == null}" class="img-fluid rounded-circle" src="img/family.jpg" alt="">
                                                                </div>
                                                                </div>-->




                        <br>

                            <div class="container" style="margin: 0; padding: 0; margin-bottom: -200px; width: 100%; margin-left: 0px;">
                                <div class="row">
                                    <div class="col-log-6 col-md6 col-sm-6 container card" style="background-color:rgba(22, 2, 2, 0.741);">
                                        <h1 class="text-center" style="color: #fff;">Registro de Casa</h1>
                                        <div class="card-body">
                                            
                                            <form action="/casa/actualizar-perfil" method="POST" enctype="multipart/form-data">
                                                <p th:if="${error != null}" th:text="${error}"></p>                                                
                                                <div class="form-row">                                                                                                            
                                                    <div class="col-md-6 mb-3">                                                        
                                                        <label for="validationDefault01">Calle:</label>
                                                        <input type="text" class="form-control" name="calle" th:value="${calle}" id="validationDefault01" placeholder="Calle" style="text-align: center; font-family: consola;">
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="validationDefault02">N°:</label>
                                                        <input type="number" class="form-control" name="numero" th:value="${numero}" id="validationDefault02" placeholder="N°" style="text-align: center; font-family: consola;">
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="validationDefault03">CP:</label>
                                                        <input type="text" class="form-control" name="codPostal" th:value="${codPostal}" id="validationDefault03" placeholder="CP" style="text-align: center; font-family: consola;">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault04">Ciudad:</label>
                                                        <input type="text" class="form-control" name="ciudad" th:value="${ciudad}" id="validationDefault04"placeholder="Ciudad" style="text-align: center; font-family: consola;">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault05">País:</label>
                                                        <input type="text" class="form-control" name="pais" th:value="${pais}" id="validationDefault05" placeholder="País" style="text-align: center; font-family: consola;">
                                                    </div>                                          
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault06">Fecha Inicial:</label>
                                                        <input type="date" class="form-control" name="fechaDesde" id="validationDefault06">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault07">Fecha de Finalización:</label>
                                                        <input type="date" class="form-control" name="fechaHasta" id="validationDefault07">
                                                    </div>                                          
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault08">Mínimo de Días:</label>
                                                        <input type="number" class="form-control" name="minDias" th:value="${minDias}" id="validationDefault08" placeholder="Mínimo de Días" style="text-align: center; font-family: consola;">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault09">Máximo de Días:</label>
                                                        <input type="number" class="form-control" name="maxDias" th:value="${maxDias}"  id="validationDefault09" placeholder="Máximo de Días" style="text-align: center; font-family: consola;">
                                                    </div>                                          
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault10">Precio $:</label>
                                                        <input type="number" class="form-control" name="precio" th:value="${precio}" id="validationDefault10" placeholder="Precio" style="text-align: center; font-family: consola;">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault11">Tipo de Vivienda:</label>
                                                        <input type="text" class="form-control" name="tipoVivienda" th:value="${tipoVivienda}"  id="validationDefault11" placeholder="Tipo de Vivienda" style="text-align: center; font-family: consola;">
                                                    </div> 
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationDefault12">Foto:</label>
                                                        <input type="file" class="form-control" name="archivo"  id="validationDefault12" style="text-align: center; font-family: consola;">
                                                    </div> 
                                                    <button class="boton cuatro mt-sm-1" type="submit"><span style="color: rgba(168, 119, 214, 0.666);">Registrar Casa</span> </button>                                      


                                            </form> 
<!--                                                             <form method="POST" enctype="multipart/form-data">
                                                                    <p th:if="${error != null}" th:text="${error}"></p>
                                                                                                                    <label>Usuario</label>
                                                                                                                    <select class="form-control" name="idUsuario"> 
                                                                                                                        <option selected disabled>Usuario: </option> 
                                                                                                                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}"></option>
                                                                                                                    </select>
                                                                    <input type="hidden" name="id" th:value="${perfil.id}">
                                                                        <div class="form-group">
                                                                            <label for="nombre" style="color: #fff; display: flex; justify-content: left;">Calle :</label>
                                                                            <input id="nombre" th:value="${perfil.nombre}" type="text" name="nombre" th:disabled="${action== 'Eliminar'}" class="form-control" placeholder="Digite el apellido de la familia" >
                                                                        </div>                         
                                                                        <div class="form-group">
                                                                            <label for="edadMin" style="color: #fff; display: flex; justify-content: left;">Ciudad :</label>
                                                                            <input id="edadMin" th:value="${perfil.edadMin}" type="number" name="edadMin" th:disabled="${action== 'Eliminar'}" class="form-control" placeholder="Digite la edad mínima de sus hijos">																			
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="edadMin" style="color: #fff; display: flex; justify-content: left;">País :</label>
                                                                            <input id="edadMin" th:value="${perfil.pais}" type="number" name="pais" th:disabled="${action== 'Eliminar'}" class="form-control" placeholder="Digite la edad mínima de sus hijos">																			
                                                                        </div>	
                                                                        <div class="form-group">
                                                                            <label for="edadMax" style="color: #fff; display: flex; justify-content: left;">País :</label>
                                                                            <input id="edadMax" th:value="${perfil.edadMax}" type="number" name="edadMax" th:disabled="${action== 'Eliminar'}" class="form-control" placeholder="Digite la edad máxima de sus hijos">																			
                                                                        </div>		
                                                                        <div class="form-group">
                                                                            <label for="numHijos" style="color: #fff; display: flex; justify-content: left;">N° Hijos/as :</label>
                                                                            <input id="numHijos" th:value="${perfil.numHijos}" type="number" name="numHijos" th:disabled="${action== 'Eliminar'}" class="form-control" placeholder="Digite cuántos hijos/as tienes">																			
                                                                        </div>	
                                                                        <div class="form-group">
                                                                            <label for="email" style="color: #fff; display: flex; justify-content: left;">Email :</label>
                                                                            <input id="email" th:value="${perfil.email}" type="email" name="email" th:disabled="${action== 'Eliminar'}" class="form-control" placeholder="Digite el email de la familia">																			
                                                                        </div>
                                                                        <label th:if="${action!= 'Eliminar'}">Foto</label>
                                                                        <input type="file" class="form-control" name="archivo" th:if="${action!= 'Eliminar'}" />
                                                                        <div class="box-footer">
                                                                            <button th:if="${action=='Crear'}" type="submit" id="btnsubmit" style="background-color: rgba(69, 5, 220, 0.775);" class="boton cuatro mt-sm-1" formaction="/familia/actualizar-perfil" formmethod="POST" ><span style="color: #fff;">Crear</span> </button>                                                                                                                                                   
                                                                            <button th:if="${action=='Actualizar'}" type="submit" id="btnsubmit" style="background-color: rgba(69, 5, 220, 0.775);" class="boton cuatro mt-sm-1" formaction="/familia/actualizar-perfil" formmethod ="POST" ><span style="color: #fff;">Actualizar</span> </button>                                                                                                                                                    
                                                                            <button th:if="${action=='Eliminar'}" type="submit" id="btnsubmit" style="background-color: rgba(69, 5, 220, 0.775);" class="boton cuatro mt-sm-1" formaction="/familia/eliminar-perfil" formmethod="POST" ><span style="color: #fff;">Eliminar</span> </button>
                                                                      
                                                                        </div>
                                                                </form>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    </div>


                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
                    </script> 
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
                    </script> 
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
                    </script>
                    <!-- Scripts -->
                    <script>
                        window.sr = ScrollReveal();

                        sr.reveal('.navbar', {
                        duration: 2000,
                        origin: 'bottom'
                        });

                        sr.reveal('.container', {
                        duration: 2000,
                        origin: 'top',
                        distance: '300px'
                        });

                        sr.reveal('.header-content-right', {
                        duration: 2000,
                        origin: 'right',
                        distance: '300px'
                        });

                        sr.reveal('.header-btn', {
                        duration: 2000,
                        delay: 1000, 
                        origin: 'bottom'
                        });

                        sr.reveal('#testimonial div', {
                        duration: 2000,
                        origin: 'left',
                        distance: '300px',
                        viewFactor: 0.2
                        });
                        // Smoth scrolling
                        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                        anchor.addEventListener('click', function (e) {
                        e.preventDefault();

                        document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                        });
                        });
                        });


                    </script>

                    </body>
                    </html>
                    </body>
                    </html>
