<!DOCTYPE html>
<html lang="es "xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
	<nav th:replace="/fragments/nav :: nav"></nav>
	<br>
    <br> 
    <br>
    <br>
     <!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron my-4">
			<h1 class="display-3">Bienvenido a HouseMax</h1>
			<p class="lead">Reservá en línea tu estadía</p>
		</header>

		<!-- Page Features -->
                <div class="row" style="display: flex; justify-content: flex-start; align-items: baseline; align-content: flex-start;" >

			<div class="col-lg-3 col-md-6 mb-4" style="width: 6rem;" th:each="casa:${casas}">				
					<img th:if="${casa.foto != null}"  th:src="${'/foto/casa/' + casa.id}"class="card-img-top" alt="Acá hay una foto">
					<div class="card-body">
						<h5 class="card-title" th:text="${casa.ciudad +'-'+casa.pais}"></h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                <a th:href="@{/cliente/casa-infor/{id}(id=${casa.id})}" class="btn btn-success" style="display: flex; justify-content: center">Ver Más</a>
                                        </div>
<!--					<div class="card-footer">
						<a href="casahome.html" class="btn btn-success">Ver
							Casa</a>
					</div>-->
				</div>
			</div>


		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->   
<!--    <div class="container">
        <div class="col-row">
            <br>
            <div class="col-lg-3 col-md-6 mb-4" style="width: 18rem;" th:each="casa:${casas}" >
                <img th:if="${casa.foto != null}"  th:src="${'/foto/casa/' + casa.id}"class="card-img-top" alt="Acá hay una foto">
                <div class="card-body">
                  <h5 class="card-title" th:text="${casa.ciudad}"></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success" style="display: flex; justify-content: center">Ver Más</a>
                </div>
              </div>
        </div>-->
        
        
    </div>
    	
	<!--bootstrapjs-->
        <script th:replace="/fragments/bootsjs :: script"></script>
</body>
</html>


