<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <!--Nav-->
        <nav th:replace="/fragments/nav :: nav"></nav>
        <div class="row-6- log" style="margin-top:100px; margin-left: 500px">
            
            <div class="btn-group" role="group" aria-label="Basic example">
           
            <button type="button" class="btn btn-secondary">Cambiar Contraseña</button>
           
        </div> 
            
        </div>
        
       






        <!--bootstrapjs-->
        <script th:replace="/fragments/bootsjs :: script"></script>

    </body>
</html>
